include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include bahrain_vat *.css
recursive-include bahrain_vat *.csv
recursive-include bahrain_vat *.html
recursive-include bahrain_vat *.ico
recursive-include bahrain_vat *.js
recursive-include bahrain_vat *.json
recursive-include bahrain_vat *.md
recursive-include bahrain_vat *.png
recursive-include bahrain_vat *.py
recursive-include bahrain_vat *.svg
recursive-include bahrain_vat *.txt
recursive-exclude bahrain_vat *.pyc